:root {
    --error-color: #ff3333;
    --bg-color: #375EF9;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL'0,
        'wght'400,
        'GRAD'0,
        'opsz'24
}

.uploaded_container {
    background-color: #EEF1F7;
    position: relative;
}

.uploaded_img {
    width: 4rem;
    border-radius: 6px;
    overflow: hidden;
}

.cancel_btn {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.cancel_btn:hover {
    color: var(--error-color);
}

.upload_progressbar {
    margin-top: 10px;
    height: 8px;
    width: 100%;
    border-radius: 6px;
    background: #CBD0DC;
    overflow: hidden;
}

.upload_bar {
    width: 0%;
    display: block;
    height: 100%;
    background-color: #375EF9;
}
